<span class="singleline" ng-bind="singleline[0]">Hola Mundo</span>
<div class="product">
    <span class="product_singleline" ng-bind="product[0].singleline[0]">Hola Mundo</span>    
</div>
{#<div class="product" data-section-id="003">
    <table>
        <tr>
            <td class="product_singleline" ng-bind="product.singleline" data-section-id="p1">Texto Inicial</td>
            <td class="product_multiline" ng-bind="product.multiline" >Texto Inicial</td>
        </tr>
    </table>
</div>
<div ng-repeat="e in loop_002"><span ng-bind="e.singleline">test</span></div>

<div ng-repeat="e in loop_002">
    <div class="loop_product">
        <p class="product_singleline" ng-bind="e.singleline1">JEJEJE</p>
    </div>
</div>

<span class="singleline" ng-bind="singleline1">Hola Mundo</span>#}
