<div class="product" data-section-id="003">
    <table>
        <tr>
            <td class="product_singleline" data-section-id="p1">Texto Inicial</td>
            <td class="product_multiline">Texto Inicial</td>
        </tr>
    </table>
</div>
<div class="loop sin section" data-section-id="002"><span class="loop_singleline">test</span></div>

<div class="loop pro section" data-section-id="005">
    <div class="loop_product">
        <p class="product_singleline">JEJEJE</p>
    </div>
</div>

<span class="singleline">Hola Mundo</span>
