<div class="singleline section" data-section-id="001">Manuel José</div>
<div class="singleline section" data-section-id="002">
    Aguirre García
    <div class="multiline section" data-section-id="003">Interno</div>
</div>
<div class="loop section" data-section-id="005">
    <div class="nombres"><div class="singleline section">Manuel</div></div>
</div>