{% extends "::base.html.twig" %}
{% import _self as this %}
{% block body %}
<div ng-app ng-controller="mainCtrl">
{{ content|raw }}
<textarea ng-model="s.singleline[0]" ></textarea>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/optimecommtool/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/optimecommtool/js/angular.min.js') }}"></script>

<script type="text/javascript">
    function mainCtrl($scope){
        
        $scope.s = {
            singleline: ['Que bien ;)']
        }
    }
</script>
{% endblock %}